body
  color: $black
  background-color: white

a
  color: $green
  &:hover
    color: darken($green, 15%)
    text-decoration: none

.center
  text-align: center
  margin: 0 auto

// General structure
section
  width: 100%
.wrapper
  +outer-container
