body
  color: $black
  background-color: white

a
  color: $green
  &:hover
    color: $green
    text-decoration: underline

.center
  text-align: center
  margin: 0 auto

// General structure
#main
  section
    width: 100%
    .wrapper
      +outer-container
      article
        padding: 20px 0
