@charset "utf-8"

@import "bourbon"
@import "base/base"
@import "neat"

body
  color: white
  background-color: $black

a
  color: $yellow
  text-decoration: none

section
  padding: 70px 0
  article
    +outer-container
    +pad(0 20px 0 20px)

.center
  text-align: center
  margin: 0 auto

// Nav
nav
  background-color: $black
  section
    padding: 20px 0
    article
      h5, p
        display: inline-block
        margin-bottom: 0
      p
        color: $yellow
        float: right

// Sections
section.day1
  background-color: $green
  h1
    font-family: $base-font-family
    font-size: 7em
    font-weight: 700
    margin-bottom: .2em
    span
      font-weight: 400
      font-size: .4em

section.day3
  background-color: $pink
  color: $black
  // text-align: center
  img
    max-width: 500px
    margin-bottom: 30px
