body
  color: $black
  background-color: white

a
  color: $green
  text-decoration: none

.center
  text-align: center
  margin: 0 auto

// General structure
#main
  section
    article
      +outer-container
      padding: 20px 0
