%nav
  %section.primary-nav
    .wrapper
      %article
        %ul.site-title
          %li
            = link_to "AMBER AULTMAN", "../index.html"
        %ul.right-menu
          %li
            = link_to "EMAIL", "mailto:amber.aultman@gmail.com"
          %li
            = link_to "TWITTER", "http://twitter.com/amberaultman"
  %section.secondary-nav
    .wrapper
      %article.button-group.filter-button-group
        %button.button.all.is-checked{ "data-filter" => "*" } ALL
        %button.button.work{ "data-filter" => ".work" } WORK
        %button.button.writing{ "data-filter" => ".writing" } WRITING
        %button.button.dribbble{ "data-filter" => ".dribbble" } DRIBBBLE
        %button.button.about{ "data-filter" => ".about" } ABOUT
  %section.subpage-nav
    .wrapper
      %article
        %h6 WRITING
        %a{href: "../index.html"}
          %button.close
            Close
            %i.fa.fa-times
