%nav
  %section.primary-nav
    .wrapper
      %article
        %ul.blog-title
          %li
            = link_to "#100DAYSOFCODE", "../index.html"
        %ul.right-menu
          %li
            = link_to "EMAIL", "mailto:amber.aultman@gmail.com"
          %li
            = link_to "TWITTER", "http://twitter.com/amberaultman"
  %section.secondary-nav
    .wrapper
      %article.filter-button-group
        %button.button.is-checked{ "data-filter" => "*" } ALL
        %button.button.work{ "data-filter" => "work" } WORK
        %button.button.writing{ "data-filter" => "writing" } WRITING
        %button.button.dribbble{ "data-filter" => "dribbble" } DRIBBBLE
        %button.button.about{ "data-filter" => "about" } ABOUT
