nav
  position: fixed
  width: 100%
  z-index: 2000
  ul
    display: inline-block
    font-family: $nav-font-family
    font-weight: 700
    font-size: 0
    &.right-menu
      float: right
      font-size: rem(12)
      li
        margin-left: rem(30)
    &.site-title
      a
        color: white
        &:hover,
        &:focus
          color: darken($light-gray, 10%)
  li
    display: inline-block
    margin-bottom: 0
    font-size: rem(14)
section
  &.primary-nav
    background-color: $black
    color: white
    article
      padding: rem(20)
  &.secondary-nav
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    border-bottom: solid rem(6) $light-gray
    background-color: white
    color: $black
    article
      width: 100%
    button
      font-size: rem(14)
      margin: 0 auto rem(-6)
      text-align: center
      display: inline-block
      float: left
      padding: rem(22) 0 rem(16)
      &:hover, &:active, &:focus, &.is-checked
        background-repeat: no-repeat
        background-position: 50% 100%
        background-size: rem(18)
        background-color: transparent
        color: $black
      &.all
        width: 20%
        border-bottom: solid rem(6) $gray
        &:hover, &:active, &:focus, &.is-checked
          background-image: url(image_path('triangle-gray.png'))
      &.work
        width: 20%
        border-bottom: solid rem(6) $green
        &:hover, &:active, &:focus, &.is-checked
          background-image: url(image_path('triangle-green.png'))
      &.writing
        border-bottom: solid rem(6) $yellow
        width: 20%
        &:hover, &:active, &:focus, &.is-checked
          background-image: url(image_path('triangle-yellow.png'))
      &.dribbble
        width: 20%
        border-bottom: solid rem(6) $pink
        &:hover, &:active, &:focus, &.is-checked
          background-image: url(image_path('triangle-pink.png'))
      &.about
        width: 20%
        border-bottom: solid rem(6) $red
        &:hover, &:active, &:focus, &.is-checked
          background-image: url(image_path('triangle-red.png'))
