header
  section
    background-color: $black
    color: white
    .wrapper
      article
        h1
          font-family: $base-font-family
          font-size: rem(150)
          margin-bottom: rem(10)
          margin-top: rem(140)
        p
          font-size: rem(18)
          line-height: rem(32)
          margin-bottom: rem(30)
aside.timeline
  text-indent: -9999px
  background: url('/images/line.png') repeat-y
  height: rem(1200)
  position: absolute
  left: 30px
  &.header-timeline
    background: url('/images/line-white.png') repeat-y
    height: rem(190)
    top: rem(360)
section
  .wrapper
    article
