header
  section
    .wrapper
      article
        h1
          font-family: $base-font-family
          font-size: rem(150)
          margin-bottom: rem(10)
          margin-top: rem(140)
        p
          font-size: rem(18)
          line-height: rem(32)
          margin-bottom: rem(30)
