body#work
  section.secondary-nav,
  section.writing-nav
    display: none
  header
    padding-top: rem(170)
  h1
    font-size: rem(36)
    +media($medium)
      font-size: rem(45)
  h4
    margin-bottom: rem(20)

.work-body
  padding: 0 rem(20)
  article
    +row
    margin-top: rem(60)

.narrow-center
  +span-columns(12)
  +media($medium)
    +span-columns(10)
    +shift(1)
  +media($large)
    +span-columns(8)
    +shift(2)

.image-left,
.image-right
  img
    margin-bottom: rem(40)
    +span-columns(12)
    +media($medium)
      +span-columns(10)
      +shift(1)
    +media($large)
      +span-columns(8)
      +shift(0)
  figcaption
    +span-columns(12)
    +media($medium)
      +span-columns(10)
      +shift(1)
    +media($large)
      +span-columns(4)
      +shift(0)
      padding-left: rem(40)

.image-right
  img
    +media($large)
      +span-columns(8)
      +shift(4)
  figcaption
    +media($large)
      +span-columns(4)
      +shift(-12)
      padding-left: 0
      padding-right: rem(40)

.credits
  text-align: center
  margin: 0 auto
  h6
    display: inline-block
    background-color: white
    background-size: rem(100) rem(20)
    padding: rem(10) rem(20)
    margin-bottom: rem(-19)
  ul
    padding: rem(40)
    padding-bottom: rem(15)
    margin-left: 0
    margin-top: rem(-13)
    border: 1px solid $light-gray
    list-style-type: none
  li
    display: inline-block
    margin: 0 rem(25) rem(25)
    font-weight: 600
    span
      font-weight: 400
