%header
  %section.article-header
    .wrapper
      %article
        %h1 Content Architecture + Interiors
        %p.summary
          2015  /  Brand Identity, Visual Design, Website Content Strategy, Website Creative Direction

%section.work-body
  .wrapper
    %article
      .narrow-center
        %h4
          Goal
        %p
          Create a new identity for Content Architecture + Interiors that embodies their brand’s focus on modern design while not pigeon-holing them into a singular style. They wanted to appeal to both modern, traditional, residential and commercial clients.
    %article.image-left
      = image_tag "work/cnt-identity.gif"
      %figcaption
        %h4 Modern as a lifestyle
        %p
          I was fortunate enough to first work with Content as a client of their architecture services. This gave me personal insight into their thinking and process. One of the things that became immediately apparent was their view of “modern” not as an architectural style, but as a lifestyle. They wanted to create spaces not for modern’s sake, but spaces that fit the people who were commissioning them. Being huge proponents of Jacksonville’s urban core, Content felt the move towards metropolitan living -- revitalizing urban areas, building efficiently and green, less reliance on cars for transportation -- these are the makings of the modern lifestyle.
        %p
          From this, the concept of “creating spaces for your modern life” was born. The focus of the logo is the “o” form that is dynamic centering on the negative space of the shape. It’s this space that’s important. Form for function. The containing shapes used are representative of modern and traditional, residential and commercial projects, all still with an overarching theme of the modern lifestyle.
    %article.image-right
      = image_tag "work/cnt-stickers.jpg"
      %figcaption
        %h4 Interaction on paper
        %p
          Content wanted brand collateral to give away at their monthly Content Thirstdays happy hour that would remind people of their new website. I created stickers that would encourage people to interact with the various shapes of the logo with the prompt, “what’s your modern?” This reinforced the idea that “modern” is unique to the individual’s lifestyle and Content will work with them to create the right spaces for their needs. Including the dot grid sticker allowed them to participate even more in the process of crafting their space.
    %article.image-left
      = image_tag "work/cnt-stationary.jpg"
      %figcaption
        %h4 A cohesive package
        %p
          The stationary package was created to complete the brand collateral. As with the logo and stickers, each item in the stationary package was kept simple and clean, leaving room for the items’ functions.

    %article
      .credits
        %h6
          CREDITS / THANK YOUS
        %ul
          %li
            Severine Photography
            %br
            %span Photography

%section.next-nav
  .wrapper
    %article
      %h6
        Next
      = link_to "#" do
        %h4
          Case Study Title Here
