%header
  %section.article-header
    .wrapper
      %article
        %h1 Taverna Restaurant
        %p.summary
          2013-2015  /  Branding, Creative Strategy, Interactive Design, Advertising Design, Menu Design

%section.work-body
  .wrapper
    %article
      .narrow-center
        %h3
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at placerat sem. Integer dictum.
        %p
          If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good old-fashioned “comps”. In corner number one, we have those who believe in designing every single. If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good.
    %article.image-left
      = image_tag "work/tav-identity.jpg"
      %figcaption
        %h4 Taverna's branding, yo.
        %p
          If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good old-fashioned “comps”. In corner number one, we have those who believe in designing every single pixel in Photoshop (read: graphics engine of your choice).
    %article.image-right
      = image_tag "work/tav-website.jpg"
      %figcaption
        %h4 Taverna's website, yo.
        %p
          If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good old-fashioned “comps”. In corner number one, we have those who believe in designing every single pixel in Photoshop (read: graphics engine of your choice).
    %article.image-left
      = image_tag "work/tav-ad.jpg"
      %figcaption
        %h4 Taverna's branding, yo.
        %p
          If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good old-fashioned “comps”. In corner number one, we have those who believe in designing every single pixel in Photoshop (read: graphics engine of your choice).
    %article
      .narrow-center
        %p
          %strong
            Credits here???
          If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good old-fashioned “comps”. In corner number one, we have those who believe in designing every single. If you read web design blogs, you’ve likely heard of the debate between “designing in the browser” and good.

%section.next-nav
  .wrapper
    %article
      %h6
        Next
      = link_to "#" do
        %h4
          Case Study Title Here
