%header
  %section.article-header
    .wrapper
      %article
        %h1 Wayfind
        %p.summary
          2015  /  Design Thinking & Facilitation, Development, Product Strategy, UX Design, User Research

%section.work-body
  .wrapper
    %article
      .narrow-center
        %h4
          Goal
        %p
          Create a product that would help employees at enterprise level companies discover career opportunities and create a plan to get them there.
        %p
          This project was completed at Ignite.
        %br
        %h4
          Addressing our biggest unknowns
        %p
          Functioning in 1-week sprints, we conducted user interviews, built prototypes, and ran experiments to test various unknowns. The main questions we were looking to address in this initial discovery phase were:
        %ol
          %li
            Problem validation: Is this really a problem for employees of big companies?
          %li
            Onboarding: can we get the information we need to provide meaningful recommendations without losing people in the process?
          %li
            Email engagement: Can we entice employees to take action from an HR email?
          %li
            Sales: Is our product appealing to HR executives?
        %p
          We received a strong enough signal from each of these tests to move forward with the next phase of product development.

    %article.image-left
      = image_tag "work/way-app-2.jpg"
      %figcaption
        %h4 Smart career recommendations
        %p
          We are currently rolling out the third iteration of Wayfind. After completing a short onboarding process, users are given career recommendations based on their personality, background, and areas of interest.
        %p
          Each role card is scored relative to the user's personality, education, experience, and skills.
    %article.image-right
      = image_tag "work/way-app-1.jpg"
      %figcaption
        %h4 The whole picture
        %p
          Clicking on a role card reveals more information about the role as well as an in-depth score breakdown and possible career paths. We want to give the user enough data to determine if this role is a potential fit for them, now or in the future. Breaking the score into intrinsic and extrinsic measures gives the user a more realistic sense of their compatibility with a role regardless of readiness. We want people thinking not only about their next job, but about planning their future career path as well.
    %article.image-left
      = image_tag "work/way-app-4.jpg"
      %figcaption
        %h4 From A to B
        %p
          Once a user has identified a role that they like, Wayfind will walk them through the process of creating a plan to get there.

    %article
      .credits
        %h6
          CREDITS / THANK YOUS
        %ul
          %li
            Ian Fiske
            %br
            %span Data Science, Strategy
          %li
            Jason Kellum
            %br
            %span Development, UX Design
          %li
            Mark Montroy
            %br
            %span Development
          %li
            Sean Paley
            %br
            %span Product Management, Strategy
          %li
            Danilo Quilaton
            %br
            %span Brand Identity, Development, UX Design, Visual Design

%section.next-nav
  .wrapper
    %article
      %h6
        Next
      = link_to "#" do
        %h4
          Case Study Title Here
