#{$all-button-inputs},
button.clean
  +appearance(none)
  -webkit-font-smoothing: antialiased
  background-color: transparent
  border-radius: 0
  border: none
  color: $black
  cursor: pointer
  display: inline-block
  font-family: $nav-font-family
  font-size: rem(12)
  font-weight: 600
  line-height: 1
  text-transform: uppercase
  padding: 0.9em 1.3em
  margin: 0
  text-decoration: none
  user-select: none
  vertical-align: middle
  white-space: nowrap
  &:hover,
  &:focus
    background-color: $black
    color: white
    outline: none
  &:disabled
    cursor: not-allowed
    opacity: 0.5
  a
    color: $black
    &:hover,
    &:focus
      color: white
  i
    padding-left: rem(5)
    &.fa.fa-long-arrow-left
      padding-left: 0
      padding-right: rem(5)

button.learn-more-dribbble,
button.learn-more-about,
button.learn-more-writing,
button.learn-more-work,
  position: absolute
  bottom: 0
  right: 0
  padding: rem(20)
  display: inline
  color: $pink
  font-family: $nav-font-family
  font-weight: 700
  text-transform: uppercase
  font-size: rem(14)
  &:hover,
  &:focus
    background-color: transparent
    color: darken($pink, 15%)
    outline: none
  i
    font-size: rem(16)

button.learn-more-about
  color: $red
  &:hover,
  &:focus
    color: darken($red, 13%)

button.learn-more-work
  color: $green
  &:hover,
  &:focus
    color: darken($green, 10%)

button.learn-more-writing
  color: $yellow
  &:hover,
  &:focus
    color: darken($yellow, 10%)
