@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic);
/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_buttons.sass */
button, input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Bitter", serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  /* line 20, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_buttons.sass */
  button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  /* line 24, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_buttons.sass */
  button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

/* line 7, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
input,
label,
select {
  display: block;
  font-family: "Bitter", serif;
  font-size: 1em; }

/* line 14, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  /* line 17, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
  label.required::after {
    content: "*"; }
  /* line 19, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
  label abbr {
    display: none; }

/* line 22, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Bitter", serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  /* line 36, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
  input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  /* line 38, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
  input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

/* line 43, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
textarea {
  resize: vertical; }

/* line 46, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

/* line 49, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

/* line 54, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

/* line 58, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_forms.sass */
select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_lists.sass */
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
/* line 15, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_lists.sass */
dl {
  margin-bottom: 0.75em; }
  /* line 17, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_lists.sass */
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  /* line 20, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_lists.sass */
  dl dd {
    margin: 0; }

/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_tables.sass */
table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

/* line 8, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_tables.sass */
th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

/* line 14, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_tables.sass */
td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

/* line 18, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_tables.sass */
tr,
td,
th {
  vertical-align: middle; }

/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Bitter", serif;
  font-size: 1em;
  line-height: 1.5; }

/* line 9, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
h1, h2, h3, h4, h5, h6 {
  font-family: "Lato", sans-serif;
  font-size: 1em;
  line-height: 1.2;
  margin: 0 0 0.75em; }

/* line 15, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
h1 {
  font-size: 2.25em; }

/* line 18, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
h2 {
  font-size: 2em; }

/* line 21, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
h3 {
  font-size: 1.75em; }

/* line 24, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
h4 {
  font-size: 1.5em; }

/* line 27, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
h5 {
  font-size: 1.25em; }

/* line 30, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
h6 {
  font-size: 1em; }

/* line 33, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
p {
  margin: 0 0 0.75em; }

/* line 36, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  /* line 40, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
  a:active, a:focus, a:hover {
    color: #2c5999; }
  /* line 42, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
  a:active, a:focus {
    outline: none; }

/* line 45, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

/* line 52, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/base/_typography.sass */
img, picture {
  margin: 0;
  max-width: 100%; }

/* line 4, /Users/amberaultman/.rvm/gems/ruby-2.0.0-p353/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
html {
  box-sizing: border-box; }

/* line 9, /Users/amberaultman/.rvm/gems/ruby-2.0.0-p353/gems/neat-1.7.2/app/assets/stylesheets/grid/_box-sizing.scss */
*, *::after, *::before {
  box-sizing: inherit; }

/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/_global.css.sass */
body {
  color: #1A1A1A;
  background-color: white; }

/* line 5, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/_global.css.sass */
a {
  color: #49b790;
  text-decoration: none; }

/* line 9, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/_global.css.sass */
.center {
  text-align: center;
  margin: 0 auto; }

/* line 16, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/_global.css.sass */
#main section article {
  max-width: 47.5em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0; }
  /* line 20, /Users/amberaultman/.rvm/gems/ruby-2.0.0-p353/gems/bourbon-4.2.2/app/assets/stylesheets/addons/_clearfix.scss */
  #main section article::after {
    clear: both;
    content: "";
    display: table; }

/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/components/_nav.sass */
nav {
  position: fixed;
  width: 100%;
  background-color: #1A1A1A; }
  /* line 7, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/components/_nav.sass */
  nav section article ul {
    display: inline-block;
    font-family: "Lato", sans-serif;
    font-weight: 700; }
    /* line 11, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/components/_nav.sass */
    nav section article ul li {
      display: inline-block;
      color: white;
      margin-bottom: 0; }
      /* line 15, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/components/_nav.sass */
      nav section article ul li a {
        color: #fff200; }
        /* line 17, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/components/_nav.sass */
        nav section article ul li a:hover {
          color: #fff200;
          text-decoration: underline; }
    /* line 20, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/components/_nav.sass */
    nav section article ul.right-menu {
      float: right;
      font-size: 0.75rem; }
      /* line 23, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/components/_nav.sass */
      nav section article ul.right-menu li {
        margin-left: 1.875rem; }

/* line 1, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/pages/_articles.sass */
section.blog-detail {
  padding-top: 8.75rem; }

/* line 2, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/pages/_home.sass */
header section {
  background-color: #1A1A1A; }
  /* line 4, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/pages/_home.sass */
  header section article {
    color: white; }
    /* line 6, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/pages/_home.sass */
    header section article h1 {
      font-family: "Bitter", serif;
      font-size: 9.375rem;
      margin-bottom: 0.625rem;
      margin-top: 3.75rem; }
    /* line 11, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/pages/_home.sass */
    header section article p {
      font-size: 1.125rem;
      line-height: 2rem;
      margin-bottom: 1.875rem; }
      /* line 15, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/pages/_home.sass */
      header section article p a {
        color: #fff200; }
        /* line 17, /Users/amberaultman/Documents/code/100daysofcode/source/stylesheets/pages/_home.sass */
        header section article p a:hover {
          color: #fff200;
          text-decoration: underline; }
