%section.day1
%h1 Ok, so here we go. Day 1.
%p Today won't look like much, but the work is there. I created the project with Middleman, added it to github, pushed it live on Heroku, and installed Bourbon, Neat, and Bitters. This will give me the structure I need for the next 100 days. Pow.
